<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="jcefeclipseplugin.veiws.ChromView"
            icon="icons/googlechrome.ico"
            id="JCEFEclipsePlugin.ChromeView"
            name="Chrome View"
            restorable="true">
      </view>
   </extension>

</plugin>
